#board {
  background-color: black;
  height: 20px;
  width: 50px;
}

#container {
  display: flex;

  margin-left: 40%;
}

.rows {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
#Turn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
}

#White_Clock {
  background-color: black;
  padding: 5px;
  width: 50px;
  height: 30px;
  color: white;
  position: absolute;
  left: 500px;
}

#Black_Clock {
  background-color: black;
  padding: 5px;
  width: 50px;
  height: 30px;
  color: white;
  position: absolute;
  left: 500px;
}
