#board {
  background-color: black;
  height: 20px;
  width: 50px;
}

#container {
  display: flex;

  margin-left: 40%;
}

.rows {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
#Turn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
}

#White_Clock {
  background-color: black;
  padding: 5px;
  list-style: 5px;
  width: 50px;
  height: 30px;
  color: white;
  position: absolute;
  left: 500px;
}

#Black_Clock {
  background-color: black;
  padding: 5px;
  width: 50px;
  height: 30px;
  color: white;
  left: 500px;

  position: absolute;
}
#over {
  color: black;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  top: 300px;
  left: 710px;
  display: none;
}
@media only screen and (max-width: 1350px) {
  #White_Clock {
    left: 400px;
  }
  #Black_Clock {
    left: 400px;
  }
}
@media only screen and (max-width: 1150px) {
  #White_Clock {
    left: 250px;
  }
  #Black_Clock {
    left: 250px;
  }
}
@media only screen and (max-width: 1050px) {
  #White_Clock {
    left: 200px;
  }
  #Black_Clock {
    left: 200px;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    margin-left: 20%;
  }
  #White_Clock {
    left: 50px;
  }
  #Black_Clock {
    left: 50px;
  }
}

@media (max-width: 576px) {
  #container {
    margin-left: 5%;
  }
  #White_Clock {
    left: 400px;
  }
  #Black_Clock {
    margin-top: 2%;
    left: 400px;
  }
}

@media (max-width: 368px) {
  #White_Clock {
    left: 400px;
  }
  #Black_Clock {
    margin-top: 2%;
    left: 400px;
  }
}
